{# utilisation du layout général qui a été déplacé dans CoreBundle\resources\views\Core#}
{% extends "CoreBundle:Core:layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}

{# On affiche tous les messages flash dont le nom est « info » #}
    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info">Message flash : {{ message }}</div>
    {% endfor %}

    <h2>Dernières annonces</h2>
{# On récupère les annonces en utilisant la méthode menuAction du controleur Advertcontroller dans l'autre bundle PlatformBundle
 celà nous permet aussi de récupérer la variable $listAdverts#}
    {{ render(controller("OCPlatformBundle:Advert:menu", {'limit': 3})) }}

{% endblock %}